!.env-tmp
!.env.example
!.env.test
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*$py.class
**/*.env
**/*.env.*
**/*.ignore*
**/*.playground*
**/.DS_Store
**/.idea/
**/database.sqlite
**/node_modules
*.cover
*.db
*.egg
*.egg-info/
*.launch
*.log
*.manifest
*.mo
*.pid
*.pid.lock
*.pot
*.py,cover
*.py[cod]
*.sage.py
*.seed
*.so
*.spec
*.sublime-workspace
*/bazel-out
*/cypress/downloads/*
*/cypress/videos/*
*/dist
*/node_modules
*/out-tsc
*/tmp
.DS_Store
.Python
.c9/
.cache
.classpath
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.env-*
.env.development.local
.env.local
.env.production.local
.env.test.local
.history/*
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.project
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.scrapy
.settings/
.temp
.tmp
.tox/
.venv
.vscode/*
.webassets-cache
/.idea
/.nyc_output
/.sass-cache
/artifacts
/build
/cache
/connect.lock
/coverage
/coverage.json
/db
/deploy
/dist
/flask_session
/ignore*
/libpeerconnection.log
/logs
/misc
/node_modules
/playground*
/site
/typechain
/typechain-types
/typings
ENV/
MANIFEST
Thumbs.db
__pycache__/
__pypackages__/
__tests/tmp*
__tests/tmp/*
build/
celerybeat-schedule
celerybeat.pid
chrome-profiler-events*.json
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
ignition/deployments/chain-31337
ignore*
ignore/*
instance/
ipython_config.py
lerna-debug.log*
lib/
lib64/
local_settings.py
logs
node_modules
nosetests.xml
npm-debug.log
npm-debug.log*
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
playground*
playground/*
pnpm-debug.log*
prisma/*.sqlite
prisma/*.sqlite-journal
prisma/migrations/*
profile_default/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
speed-measure-plugin*.json
target/
testem.log
var/
venv.bak/
venv/
wheels/
yarn-debug.log*
yarn-error.log
yarn-error.log*
